*{box-sizing: border-box;}

body {background-color: #f7f3fa;
color:#333; font-family: Arial, Helvetica, sans-serif;
background-color: #f7f3fa;}
      

header {background-color: #6633ff;
color: #fff;
background-color: #6633ff; 
background-image: url(images/logof.png);
background-position: left;
background-repeat:no-repeat;
background-size: contain;
line-height: 500%;
text-align: center;
border-radius: 20px;}

footer{background-color: #ccccff;
text-align: center;
font-size: 75%;
padding:1em;}

nav{text-align: center;
font-weight:bold;
margin-top: 0px;}

nav ul{
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2em;
    margin:0;
    }
nav li{border-bottom: 1px solid #6633ff;}

nav a{text-decoration: none;
transition: color 3s ease-in;}
nav a:link{color: #6633ff;}
nav a:hover{color: #a52a2a;}

main{
padding: 1px 20px 20px 20px;
display: block;
padding-left: 30px;
background-color: #fff;
overflow: auto;}


header h1{margin-bottom:0; margin-top: 0px;}

h2 {color:#6633ff;
font-family: Georgia, 'Times New Roman', Times, serif;
text-shadow: 2px 2px 2px #666;}

h1{font-family: Georgia, 'Times New Roman', Times, serif;}

ul{list-style-type: square;}

dt{color: #311545;}

.name {color:#8548b3;} 
#address{color: #675d6e;}

#homeimg {background-image: url(images/home.jpg);
height: 300px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
}

#foodimg {background-image: url(images/food.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    }

#fitnessimg {background-image: url(images/fitness.jpg);
        height: 300px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        }

#cover{
       background-image: linear-gradient(to bottom, #fff, #ccccff);
       background-repeat: no-repeat;
       border: 1px solid #003;}

table {
        border: 2px solid #6633ff;
        border-collapse: collapse;

    }
td,th{
        border: 2px solid #6633ff;
        padding: 0.5 em;
        text-align: center;
    }
    
tr:nth-of-type(odd) {
    background-color: #f7f3fa;}

th {background-color: #ccccff;}

Caption {font-weight: bolder;
text-align: center;
color: #6633ff;
font-family: Georgia, 'Times New Roman', Times, serif;}

iframe {float: right; margin: 1em;}

form{display:flex; flex-flow:column wrap;}
input,textarea {margin-bottom:1em;}

@media (min-width: 1024px){
        nav {text-align: left;
        padding-left: 1em;
        padding-top: 1em;}
        
    #cover{
            display:grid;
            margin:auto;
            width: 80%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to bottom, #fff, #ccccff);
        box-shadow: 3px 3px 3px #333;
       border: 1px solid #003; 
       grid-template-columns: 180px auto;
       grid-template-rows: auto;
    }
     
    section{
        float:left;
        width: 33%;
        padding-left: 2em;
        padding-right: 2em;}

      header {grid-row:1/2; grid-column: 1/3;}
      nav {grid-row: 2/5; grid-column: 1/2;}
      div {grid-row: 2/3; grid-column: 2/3;}
      main {grid-row: 3/4; grid-column: 2/3;}
      footer {grid-row: 4/5; grid-column: 2/3;}
      nav li {border-bottom: 0px;}
    }

    form {display:grid;
          grid-template-columns: 6em 1fr;
          grid-template-rows: auto;
        width: 60%}

        input[type="submit"] {grid-column: 2/3; width: 10em;}